.base-wr{
    background:white;
    box-shadow: 5px 6px 8px grey;
    padding: 10px;

}
.base-wr .spinner{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000000000000000000;
    background: rgba(255, 255, 255, 0.72);
}

.base-wr .spinner .ant-spin-spinning{
    position: absolute;
    top: 50%;
    left: 50%;
}