.main-wr .upper-row {
  margin-bottom: 50px;
}

.main-wr .card {
  height: 250px;
  width: 100%;
  background: white;

  box-shadow: 5px 6px 8px grey;
  padding: 10px;
  cursor: pointer;
}
.main-wr .bottom-row {
  position: relative;
  bottom: -35px;
}

.main-wr .card:hover {
  color: #40a9ff;
  transform: scale(1.1);
}
.main-wr .card:hover h2 {
  color: #40a9ff;
}

.main-wr .card .ant-divider.ant-divider-horizontal {
  margin: 0 !important;
}

.main-wr .card i {
  font-size: 150px;
}

.highlighted .dropPlace {
  border: 5px solid #40a9ff;
}
